html, body, div#map-canvas
{
	height: 100%;
	margin: 0px;
	padding: 0px;
}
input.controls
{
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
input#searchBox
{
	background-color: #fff;
	font-family: Roboto;
	font-size: 20px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 30%;
	height: 50px;
	border-radius: 10px;
}
a.imgButton img
{
	display: block;
	position: fixed;
	height: 75px;
	bottom: 20px;
	border-radius: 8px;
}
a.imgButton img:hover
{
	background-color: rgba(255,255,255,0.7);
}
a.imgButton img#tripAdvImg
{
	right: 200px;
}
a.imgButton img#myoImg
{
	right: 20px;
}